{% extends 'base.html.twig' %}

{% block title %}Hello OrderController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello HR-manager! </h1>


    This is results of the task:
    <ul>
        <li><p>Top 30 Orders: {{}}</p></li>
        <li><p>Client group: {{}}</p></li>
        <li><p>Status group: {{}}</p></li>
        <li><p>Consonant count: {{ consonantCount }} </p></li>
    </ul>
</div>
{% endblock %}
